@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Oswald-ExtraLight';
  src: url(../fonts/Oswald-ExtraLight.ttf);
}
@font-face {
  font-family: 'Oswald-Light';
  src: url(../fonts/Oswald-Light.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Oswald-Regular';
  src: url(../fonts/Oswald-Regular.ttf);
  font-weight: 500;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #272727;
  font-family: 'Oswald-Light';
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
.background-photo {
  background-image: url('../img/back-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 867px;
}
.container {
  max-width: 1280px;
}
.m-0-auto {
  margin: 0 auto;
}
.ml-7 {
  margin-left: 7rem !important;
}
.logo-header {
  padding-top: 12px;
}
.logo-header img {
  width: 100px;
  height: 100%;
}
.logo-header p {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  padding-left: 14px;
  padding-top: 15px;
  text-transform: uppercase;
  width: 10%;
}
.header-social {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.header-social li {
  list-style: none;
}
.header-social li a {
  color: #fee600;
  text-decoration: none;
}
.header-social .social-link {
  padding-left: 6px;
}
.header-social .consultation {
  padding: 6px 22px;
  border-radius: 5px;
  color: black;
  background-color: #fee600;
  font-size: 18px;
  font-family: 'Oswald-Light';
  transition: background-color ease 150ms;
}
.header-social .consultation:hover {
  background-color: #b6b904;
}
.header-social .mail {
  font-family: 'Oswald-Light';
  font-size: 18px;
}
.bg-fon {
  height: auto;
  margin-top: 5px;
  background-color: #272727;
}
.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}
.navigation li {
  margin: 13px;
  padding-right: 100px;
  list-style: none;
  display: inline;
}
.navigation li a {
  color: #ffffff;
  font-family: 'Oswald-Light';
  text-decoration: none;
}
.person-text {
  position: relative;
  z-index: 200;
  font-size: 34px;
  bottom: 50px;
  left: 30%;
  font-family: 'Oswald-Regular';
  text-transform: uppercase;
  color: #000000;
}
.next-btn {
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.form-background {
  float: right;
  margin: auto;
  margin-top: 150px;
  height: 400px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
}
.form-background h3 {
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  font-family: 'Oswald';
}
.form-background p {
  padding-top: 12px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
  font-family: 'Oswald-Regular';
}
.form-background .form-inputs {
  margin: auto;
  width: 85%;
  margin-top: 17px;
  border-radius: 10px;
  border: 1px solid #dedede;
  background-color: #fafafa;
  height: 41px;
}
.form-background .form-inputs::placeholder {
  font-family: Oswald;
  font-weight: 300;
  color: #bebebe;
}
.form-background button {
  width: 85%;
  font-size: 18px;
  background-color: #fee600;
}
.need-do {
  margin-bottom: 50px;
  color: #fee600;
}
.need-do .what-do {
  background-image: url(../img/wha-do.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 474px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.need-do span {
  display: inline;
}
.need-do li {
  font-family: 'Oswald-Regular';
  font-size: 18px;
  list-style: none;
}
.need-do .save-calm {
  padding-top: 67px;
  padding-left: 90px;
}
.need-do .signal {
  padding-top: 190px;
  padding-left: 60px;
}
.need-do .inst-sign {
  padding-top: 33px;
  padding-right: 100px;
}
.need-do .call-cru {
  padding-top: 250px;
  padding-left: 20px;
}
.bg-yellow {
  background-color: #fee600;
}
.about-us {
  display: inline;
  margin-top: 50px;
}
.advantages {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Oswald-Light';
}
.advantages p {
  padding: 50px;
  font-size: 18px;
  text-align: center;
}
.advantages h5 {
  padding-top: 45px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 20px;
  margin: 0 auto;
}
.advantages .adv-img {
  display: block;
  margin: 0 auto;
}
.adv-h1 {
  color: #fee600;
  padding-top: 100px;
  padding-bottom: 130px;
  margin: auto;
}
.our-service-h1 {
  color: #000000;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.btn-counsultation-yellow {
  margin: auto;
  border-radius: 8px;
  width: 214px;
  color: #000;
  padding: 11px;
  background: linear-gradient(0deg, #fee600 0%, #cebb01 100%);
}
.btn-counsultation-black {
  margin: auto;
  width: 214px;
  font-size: 18px;
  border-radius: 8px;
  color: #ffffff;
  padding: 11px;
  margin-top: 50px;
  margin-bottom: 70px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0) 100%), #000000;
}
.btn-counsultation-black:hover {
  color: white;
}
.helpful-information {
  height: 1307px;
  background-image: url(../img/bg-second.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.helpful-information .col-lg-12 {
  margin: 0;
  padding: 0;
}
.helpful-information h1 {
  margin: 0 auto;
  margin-top: 240px;
  margin-bottom: 60px;
}
.prev-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.next-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotate(0deg);
}
.container-slider {
  width: 100%;
  display: flex;
}
.mobile-header {
  display: none;
}
.slick-list {
  padding-top: 10% !important;
  padding-bottom: 10% !important;
  padding-left: 20% !important;
  padding-right: 20% !important;
}
.slick-track {
  max-width: 100% !important;
  transform: translate3d(0, 0, 0) !important;
  perspective: 100px;
}
.slick-slider {
  margin: 0 auto;
}
.slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100% !important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
}
.slick-current {
  opacity: 1;
  position: relative;
  display: block;
  transform: translate3d(0, 0, 20px);
  z-index: 2;
}
.slick-snext {
  opacity: 1;
  transform: translate3d(42%, 0, 0px);
  z-index: 1;
}
.slick-sprev {
  opacity: 1;
  transform: translate3d(-42%, 0, 0px);
}
.test {
  margin: auto;
  display: block;
  width: 268px;
  height: 381px;
  background: linear-gradient(180deg, #727272 0%, #1b1b1b 100%);
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  color: #ffffff;
  align-items: center;
  text-align: center;
}
.test h1 {
  padding-top: 48px;
  font-size: 24px;
  color: #ffffff;
}
.test p {
  padding: 50px 20px 0 20px;
  font-size: 20px;
}
.test button {
  color: #ffffff;
}
.test button img {
  padding-left: 13px;
  display: inline;
}
.d-none-desc {
  display: none !important;
}
.mobile-header {
  display: none;
}
.slick-snext,
.slick-sprev {
  display: block;
}
.slick-snext .test,
.slick-sprev .test {
  background: white !important;
  color: #000;
}
.slick-snext .test h1,
.slick-sprev .test h1 {
  color: #000;
}
.slick-snext .test button,
.slick-sprev .test button {
  color: #000;
}
.mov-view {
  display: none;
}
.tab {
  padding-top: 50px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased;
}
.tabs {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-family: 'Oswald-Light';
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.tabs:nth-child(5) {
  width: 240px;
}
.tabs li {
  margin-right: 10px;
  width: 240px;
  list-style: none;
  padding: 10px;
  position: relative;
}
.tabs a {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 150px;
  background-color: white;
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
  padding: 50px 46px 60px 46px;
  transition: background-color ease 650ms;
  border-radius: 20px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
  line-height: 24px;
}
.modal-call-mob {
  display: none;
}
.tab_content {
  margin-top: 50px;
  height: auto;
}
.tab-item {
  margin-bottom: 300px;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  border-radius: 20px;
  padding: 40px 0;
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  /* THEME: VARS */
  /* SLICK: ARROWS */
  /* SLICK: DOTS */
}
.tab-item p {
  padding: 0 55px;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}
.tab-item .slider {
  width: 640px;
}
.tab-item .slick-slide {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tab-item .slick-slide img {
  width: 100%;
  height: 256px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
}
.tab-item .slick-custom-arrow {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
  padding: 20px 16px;
  background-color: #fff;
  color: #000;
}
.tab-item .slick-custom-arrow-right {
  right: 0;
  top: 50%;
}
.tab-item .slick-custom-arrow-left {
  left: 0;
  top: 50%;
}
.tab-item .slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.tab-item .slick-dots .slick-active button {
  border: 0;
  height: 20px;
  width: 20px;
  background-color: #fee600;
}
.tab-item .slick-dots li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 4px;
  padding: 0;
  background-color: #fee600;
  border-radius: 50%;
}
.tab-item::after {
  content: '';
  border: 40px solid transparent;
  border-bottom: 55px solid #fff;
  position: absolute;
  left: 7%;
  top: -72px;
  width: 0;
}
.current a {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #000000;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  color: #fee600;
}
.main {
  font-family: Arial;
  width: 500px;
  display: block;
  margin: 0 auto;
  align-items: center;
  padding-top: 70px;
}
.slide-bg {
  height: auto;
  width: 348px;
  margin: 10px;
  padding: 2%;
}
.slide-bg img {
  height: 204px;
  width: 348px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: rgba(254, 230, 0, 0.6);
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #fee600;
  height: 18px;
  width: 18px;
}
.contatc-form {
  background-image: url(../img/bg-cars.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 395px;
  margin-top: 146px;
}
.form-width {
  float: initial;
  width: 638px;
  height: auto;
  margin-top: 0;
  padding-bottom: 70px;
}
.form-width .form-inputs {
  width: 54%;
}
.form-width button {
  width: 54%;
  border-radius: 8px;
}
.contacts {
  background-image: url(../img/89-layers.png);
  background-repeat: no-repeat;
  background-size: 77%;
  background-position: center;
  height: 395px;
  margin-top: 200px;
  height: 1000px;
}
.contacts h1 {
  color: #fee600;
  margin: 0 auto;
}
#next-btn {
  left: 86%;
  bottom: 50px;
}
#prev-btn {
  bottom: 50px;
  left: -50px;
}
.contact-icon {
  list-style: none;
  margin: auto;
  margin-top: 750px;
}
.contact-icon a {
  text-decoration: none;
  color: #fee600;
}
.contact-icon li {
  padding-top: 10px;
}
.maps {
  position: relative;
  top: 5px;
  left: 0;
}
.footer {
  padding-top: 70px;
  height: auto;
  background-color: #fee600;
}
.footer li {
  list-style: none;
}
.footer .footer-menu {
  display: flex;
  justify-content: space-between;
}
.footer .footer-contacts li {
  padding-top: 25px;
  color: #000000;
  font-family: 'Oswald';
  font-size: 18px;
  letter-spacing: 0.54px;
}
.footer .footer-contacts .city {
  text-transform: uppercase;
  font-family: 'Oswald';
  padding-top: 0;
  font-size: 24px;
}
.footer .footer-contacts .position-country {
  text-transform: uppercase;
  font-family: 'Oswald-Regular';
}
.footer .footer-contacts a {
  text-decoration: none;
  color: #000;
}
.footer .about-footer {
  padding-top: 15px;
  font-family: 'Oswald-Regular';
  font-size: 18px;
  letter-spacing: 0.54px;
}
.footer .about-footer a {
  text-decoration: none;
  color: #000000;
}
@media only screen and (max-width: 1000px) {
  .slick-list {
    overflow: visible !important;
  }
}
@media only screen and (max-width: 370px) {
  .container-slider .next-btn {
    padding-right: 0;
    margin-right: 0;
    left: -2px !important;
  }
  .container-slider .test {
    height: auto;
    width: 194px;
  }
  .container-slider .slick-snext {
    transform: translate3d(18%, 0, 0px) !important;
  }
}
@media (max-width: 992px) {
  .person-text {
    top: 150px;
    bottom: 0;
    left: 20%;
  }
  .what-do {
    background-image: url(../img/what-do-mob.png) !important;
  }
  .form-background {
    margin-top: 175px;
  }
}
@media only screen and (max-width: 576px) {
  .col-xs-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-xs-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xs-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xs-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .mobile-header {
    display: block;
  }
  .modal-call-mob {
    display: block;
  }
  .advantages img {
    width: auto;
    height: 53px;
  }
  .advantages p {
    font-family: 'Oswald-ExtraLight';
    font-weight: 200;
    padding: 8px 0 0 0;
    font-size: 14px;
  }
  .advantages h5 {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
  .advantages .col-xs-6 {
    padding-top: 40px;
  }
  .btn-mt {
    margin-top: 100px;
  }
  .container-slider {
    display: flex;
    justify-content: center;
  }
  .container-slider .slick-slider {
    margin: inherit;
  }
  .container-slider .slick-sprev {
    transform: translate3d(-30%, 0, 0px);
  }
  .container-slider .slick-snext {
    transform: translate3d(30%, 0, 0px);
  }
  .container-slider .slick-list {
    overflow: visible;
    padding: 0 !important;
  }
  .container-slider .test {
    height: auto;
    width: 203px;
  }
  .container-slider .test p {
    font-family: 'Oswald-ExtraLight';
    letter-spacing: 0.48px;
    font-weight: 200;
    padding: 8px 10px 0 10px;
    font-size: 16px;
    font-weight: 300;
  }
  .container-slider .test h1 {
    font-size: 18px;
    line-height: 30px;
    padding-top: 16px;
  }
  .container-slider .test button {
    margin-bottom: 1rem;
  }
  .container-slider .test button img {
    width: 31px;
    height: 18px;
  }
  .container-slider .prev-btn {
    padding-left: 0;
    margin-left: 0;
  }
  .container-slider .next-btn {
    padding-right: 0;
    margin-right: 0;
  }
  .container-slider button {
    z-index: 100;
  }
  .footer {
    height: auto;
  }
  .footer .footer-contacts {
    margin-top: 40px;
  }
  .footer .footer-contacts ul {
    margin-left: 0;
    padding-left: 20px;
  }
  .footer .logo-footer {
    padding-left: 20px;
  }
  .footer .logo-footer img {
    width: 86px;
    height: 86px;
  }
  .mob-display__none {
    display: none !important;
  }
  .contacts {
    background-image: url(../img/bg-mobile-footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    margin-bottom: 50px;
    height: 520px;
  }
  .contacts .contact-icon {
    margin-top: 10px;
  }
  .contatc-form {
    background-image: url(../img/bg-mob-car.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: bottom;
    margin-top: 100px;
    height: 575px;
  }
  .contatc-form .form-width {
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    height: 254px;
    border-radius: 30px;
  }
  .contatc-form .form-width h3 {
    padding-top: 1rem;
    font-size: 16px;
    margin-bottom: 0;
  }
  .contatc-form .form-width p {
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .contatc-form .form-width button {
    padding: 6px 29px;
    width: 90%;
  }
  .contatc-form .form-width .form-inputs {
    height: 32px;
    width: 90%;
    margin-top: 10px;
  }
  .contatc-form .col-lg-2 {
    display: none;
  }
  .main {
    width: 100%;
    padding-top: 0;
  }
  .main .slick-list {
    padding: 0;
    padding-left: 20% !important;
  }
  .main .slide-bg {
    margin: auto;
    width: 70%;
  }
  .about-footer {
    display: none;
  }
  .helpful-information {
    margin-top: 5rem;
    background-size: auto;
    height: 1000px;
  }
  .helpful-information h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Oswald-Regular';
    margin-top: 2rem;
    width: min-content;
    text-align: center;
  }
  .helpful-information .tab-mobile__carousel {
    width: 100%;
    height: 300px;
  }
  .helpful-information .slide-tab__mobile {
    background-color: red;
    width: 100%;
    height: 300px;
  }
  .helpful-information .tabs_item p {
    padding: 69px 26px;
    width: 100%;
  }
  .helpful-information .tab_content {
    margin-top: 120px;
  }
  .helpful-information .tab {
    padding: 0;
    margin: 0;
    position: relative;
  }
  .helpful-information .tab .active {
    z-index: 100;
  }
  .helpful-information .tabs {
    display: flex;
  }
  .helpful-information .tabs a {
    height: auto;
    width: auto;
    padding: 20px;
    margin-right: 0;
  }
  .helpful-information .tabs li {
    position: absolute;
  }
  .d-none-desc {
    display: flex !important;
  }
  .mov-view {
    display: block;
  }
  .what-do {
    background-image: url(../img/what-do-mob.png) !important;
  }
  .what-do ul {
    margin: 0;
    padding: 0;
  }
  .need-do .save-calm {
    text-align: center;
    padding: 0;
    width: 50%;
  }
  .need-do .signal {
    text-align: center;
    padding-top: 310px;
    padding-left: 0;
  }
  .need-do .inst-sign {
    text-align: center;
    padding: 0;
  }
  .need-do .call-cru {
    padding-top: 310px;
    text-align: center;
  }
  .background-photo {
    background-image: url(../img/bg-img-mob.png);
    background-position-x: -96px;
    background-position-y: top;
    background-size: auto;
  }
  .tabs-container__slider li {
    display: block;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: red;
    transition: opacity 1s;
  }
  .tab {
    margin: 0 auto;
    height: 600px;
  }
  .tabs-container__slider li.showed {
    opacity: 1;
  }
  #hamburger-button {
    position: relative;
    z-index: 9999;
    /*so it never gets lost under something*/
    display: inline-block;
    vertical-align: top;
    height: 15px;
    width: 20px;
    margin-left: 5%;
    margin-top: 5%;
  }
  #hamburger-button:hover {
    cursor: pointer;
    /* changes the cursor to pointer */
  }
  #hamburger-button > span {
    display: block;
    height: 3px;
    margin-bottom: 3px;
    width: 24px;
    background-color: black;
    -webkit-transition-timing-function: linear;
    /* Safari and Chrome */
    transition-timing-function: linear;
    transition-duration: 100ms;
  }
  #hamburger-button.open {
    margin-top: 30px;
    margin-left: 87%;
    width: 50px;
  }
  #hamburger-button.open > span {
    width: 35px;
    height: 1px;
  }
  #hamburger-button.open > span:first-child {
    -webkit-transform: translateY(6px) rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: translateY(6px) rotate(45deg);
  }
  #hamburger-button.open > span:nth-child(2) {
    -webkit-transform: rotateY(90deg);
    /* Safari */
    transform: rotateY(90deg);
    /* rotates the second child on the Y AXIS ONLY 90 degrees so it disappears into a point */
  }
  #hamburger-button.open > span:last-child {
    -webkit-transform: translateY(-2px) rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: translateY(-2px) rotate(-45deg);
  }
  .navbar {
    position: absolute;
    opacity: 1;
    z-index: 888;
    /*so its above the content but below the burger button*/
    height: 1000px;
    width: 100%;
    left: -100vw;
    transition: 400ms;
    background-color: #fee600;
    color: white;
  }
  .navbar.open {
    left: 0;
  }
  .navbar .menu-mobile {
    position: absolute;
    list-style: none;
    top: 50px;
  }
  .navbar .menu-mobile li {
    padding: 5px;
    text-align: left;
  }
  .navbar .menu-mobile li a {
    color: #000000;
    font-size: 25px;
  }
  .navbar .menu-mobile li a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  .contacts-header-mob {
    margin-top: 70%;
  }
  .contacts-header-mob li {
    list-style: none;
    padding: 5px 10px 5px 0;
  }
  .contacts-header-mob a {
    color: #000;
    font-size: 20px;
    padding-left: 10px;
  }
  .contacts-header-mob img {
    width: 30px;
    height: 30px;
  }
  .logo-mobile {
    position: absolute;
    top: 5px;
    left: 15%;
  }
  .logo-mobile img {
    width: 50px;
    height: 50px;
  }
  .logo-mobile p {
    padding-top: 5px;
    line-height: 14px;
    padding-left: 8px;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 700;
    width: 10%;
  }
  .contacts-right__mob {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
  }
  .contacts-right__mob li {
    list-style: none;
    margin-bottom: 10px;
  }
  .contacts-right__mob li a {
    font-size: 14px;
    color: #fee600;
  }
  .person-text {
    top: 90px;
    left: 120px;
    font-size: 18px;
  }
  .modal-call-mob {
    position: absolute;
    top: 169px;
    left: 88px;
    width: 230px;
    padding: 18px;
    text-align: center;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.95);
  }
  .modal-call-mob h1 {
    font-size: 17px;
    font-family: 'Oswald-Regular';
  }
  .modal-call-mob .btn-call-camisar {
    font-size: 14px;
    padding: 5px 20px;
    background: linear-gradient(180deg, #fee600 0%, #e3ce00 100%), #fee600;
    border-radius: 8px;
  }
  #next-btn {
    left: 81%;
  }
  #prev-btn {
    bottom: 50px;
    left: 5%;
  }
  .slide-bg img {
    height: auto;
    width: 100%;
  }
  .container-tab-mobile {
    position: relative;
    margin: 0 auto;
    padding: 0 0;
    /* Controls */
  }
  .container-tab-mobile .slider-tab {
    position: relative;
    width: 100%;
  }
  .container-tab-mobile .slide-tab {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 155px;
    border-radius: 15px;
    background-color: aqua;
    align-self: center;
  }
  .container-tab-mobile .slide-tab h1 {
    font-size: 18px;
  }
  .container-tab-mobile .active-slide {
    display: block;
  }
  .tab-content {
    z-index: 7777;
    margin-top: 200px;
    background-color: #ffffff;
    height: auto;
    padding-bottom: 50px;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
  }
  .tab-content .tab-item-mob {
    display: none;
  }
  .tab-content .tab-item-mob p {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.54px;
    padding-top: 40px;
  }
  .arrow-prev {
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 0;
  }
  .arrow-next {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
  }
  /* SLICK: ARROWS */
  .slick-custom-arrow {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
    padding: 20px 16px;
  }
  .slick-custom-arrow img {
    width: 20px;
    height: 20px;
  }
  .slick-custom-arrow-right {
    right: 0;
    top: 50%;
  }
  .slick-custom-arrow-left {
    left: 0;
    top: 50%;
  }
  /* SLICK: DOTS */
  .slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .slick-dots .slick-active button {
    border: 0;
    height: 20px;
    width: 20px;
    background-color: #fee600;
  }
  .slick-dots li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 4px;
    padding: 0;
  }
  .slick-slide-item img {
    height: 140px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    width: 100%;
  }
}
